<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>BioCloud</title>
<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body>
	<!-- Upload form. Note enctype attribute! -->
	<form action="." method="post" enctype="multipart/form-data">
		{% csrf_token %} 
		{{ form.non_field_errors }} 
		{{ form.userFile.help_text }} 
		{{ form.userFile.label_tag }} 
		{{ form.userFile.errors }} 
		{{ form.userFile }} 
		<input type="submit" value="Upload" />
	</form>
	<br/>
	File list:
	{% if files %}
	<ul>
		{% for file in files %}
		<li><a href="{{ file.userFile.url }}">
		{{file.filename }} ({{file.userFile.size|filesizeformat}})</a></li> 
		{% endfor %}
	</ul>
	{% else %}
	<p>No files.</p>
	{% endif %}
</body>
</html>