* {
	padding: 0;
	margin: 10;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: rgb(10%,10%,10%);
	margin: 30px;
}

div {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 15px;
}

h1 {
	font-size: 20px;
}
h2 {
	font size: 18px;
}

button {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 20px;
	width: 80px;
}

h1.title {
	float:left;
}

i {
	color: rgb(60%,60%,60%);
}

#d_main {
	position: relative;
	min-width: 700px;
	margin-bottom: 50px;
}

#d_header {
	/*display: inline;*/
	vertical-align: center;
	position: relative;
}

#d_content {
	/* clear out floating set in header */
	clear: both;
	/* continue normally */
	position: relative;
	margin: 15px;
	width: 500px;
}

#d_login {
	float: left;
	position: absolute;
	top: 50%;
	right: 0;
}

#d_activity_1 {
	
}

#d_activity_2 {

}

#d_submit {
	float: left;
	position: absolute;
	right: 0;
}

#l_file_1 {
	float: inherit;
	width: 300px;
}